/***
** ---------------------------------ANIMATION--------------------------------***
***/
@keyframes pop-in{
  0% {
    transform: scale(0);
  }
  50%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}
  
@keyframes loader {
    100% {
      opacity: 0;
    }
  } 



  
  /*****************************************************************************
** ---------------------------------COLOR--------------------------------***
******************************************************************************/


$color-purple: #9356DC;
$color-pink: #FF79DA;
$color-blue: #99E2D0;
$color-dark-grey : #353535;
$color-light-grey:rgb(243, 243, 243);
$color-grey :#f6f6f6;

  /*****************************************************************************
** --------------------------------breakpoint--------------------------------***
******************************************************************************/

$tablet:868px;
$pc:1200px;




  /************************************************************************************
** -------------------------------LOADER--------------------------------***
****************************************************************************************/
 /************************************************************************************
** -------------------------------GENERAL SETTING-------------------------------***
****************************************************************************************/
body{
  font-family: 'Roboto', sans-serif;

}
