/***
** ---------------------------------ANIMATION--------------------------------***
***/

// Keyframe utiliser pour l'animation d'affichage des items du menu des différent restaurant
@keyframes pop-in{
  0% {
    transform: scale(0);
    opacity: 0;
    
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

// keyframe utiliser pour l'nimation du loader sur la home page
@keyframes loader {
    100% {
      opacity: 0; 
      z-index: -10000;
    }
  } 


// variables contenant les couleur à utiliser sur le site 
$color-purple: #9356DC;
$color-purple-light: #a26ee2;
$color-pink: #FF79DA;
$color-pink-light: #f57ed3f5;
$color-blue: #99E2D0;
$color-dark-grey : #353535;
$color-light-grey:rgb(243, 243, 243);
$color-grey :#f6f6f6;



// variables contenant les breakpoint pour rendre le site responsive.
$tablet:868px;
$pc:1200px;


 /************************************************************************************
** -------------------------------GENERAL Styling-------------------------------***
****************************************************************************************/
body{
  font-family: 'Roboto', sans-serif;

}


