@import'reset.scss';
@import'settings.scss';



  /************************************************************************************
** -------------------------------LOADER--------------------------------***
****************************************************************************************/

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(75, 75, 75, 0.596);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 2;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      animation: jump 1s;
      animation-iteration-count: 2;
   
  
      &Container {
        display: flex;
        width: 5rem;
        justify-content: space-between;

      }
  
      &--1 {
        background-color: $color-purple;
      }
    
      &--2 {
        background-color: $color-pink;
        animation-delay: 0.25s;
      }
    
      &--3 {
        background-color: $color-blue;
        animation-delay: 0.5s;
      }
    }
}

 /************************************************************************************
** -------------------------------GENERAL SETTING-------------------------------***
****************************************************************************************/
body{
    font-family: 'Roboto', sans-serif;

}



  /************************************************************************************
** -------------------------------HEADER--------------------------------***
****************************************************************************************/


.header{
  padding: 1rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.300);
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  justify-content: center;


    &__title{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 2rem;
    }

    &__icon{
      margin: 10px;
      font-size: 1.3rem;
    }
}



/********************************************************************************************************************************
/********************************************************************************************************************************
/********************************************************************************************************************************
** -------------------------------HOME PAGE--------------------------------*******************************************************
 *********************************************************************************************************************************
 *********************************************************************************************************************************
*********************************************************************************************************************************/

/**************************************************************************************
** ------------------------------ NAV--------------------------------*******************
****************************************************************************************/

.nav {

    &__header{
        background-color: $color-light-grey;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;

    }
    &__header-title{
        font-weight: 800;
        font-size: 1.1rem;
        padding: 1.4rem 0;

    }

    &__content{
      padding: 2rem;
      text-align: center;
      background-color: #fafafa;
    }

    &__content-title{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }

    &__content-aside{
        font-weight: lighter;
        margin: 30px 30px 10px;
        text-align: center;
    }

    &__content-link{
      border: 0;
      padding: 0.75rem 1.5rem;
      font-weight: 600;
      font-size: 1.1rem;
      border-radius: 80px;
      color: #fff;
      background-image: linear-gradient(0deg,$color-purple,$color-pink);
      cursor: pointer;
      box-shadow: 5px  5px 8px rgb(0 0 0 / 25%);
    }
    
}

 /*************************************************************************************
** -------------------------------Working--------------------------------***************
****************************************************************************************/

.working{

  padding: 2rem 1rem;

  &__title{
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__list{
    counter-reset: workingList;
  }

  &__list-item{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: $color-grey;
    display: flex;
    counter-increment: workingList 1;



    &::before {
      content: counter(workingList) " ";
      background: $color-purple;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      left: -2.1rem;
    }
  }

  &__list-icon{
    margin-right: 1rem;
    color: #7e7e7e;
  }
}


 /************************************************************************************
** ------------------------------Restaurant--------------------------------***
****************************************************************************************/

.place{
  background-color: $color-grey;
  padding: 3rem 1rem;

 &__title{
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__container{
    margin: 2rem 0px;
  }

}
.item{
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  width: 100%;


  
  &__img{
    height: 200px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  &__tag{
    background-color: $color-blue;
    position: absolute;
    top : 15px;
    right: 10px;
    padding: 10px;
    color: #1a7155

  }
  
  &__content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  &__content-title{

    h3{
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}






/********************************************************************************************************************************
/********************************************************************************************************************************
/********************************************************************************************************************************
** -------------------------------RESTAURANT PAGE--------------------------------**************************************************
 *********************************************************************************************************************************
 *********************************************************************************************************************************
*********************************************************************************************************************************/


.banner-image{
    max-width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.menu{
  margin-top: -50px;
  border-radius: 25px  25px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  top:350px;
  max-width: 1350px;
  margin: 0 auto;

 
}

.menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;


  &__title{
    font-family: Shrikhand,"cursive";
    font-size: 1.5rem;
    font-weight: bold;
    width: 40%;
    line-height: 1.4;

  }
}
.menu-content{
  padding: 15px;

  &__title{
    font-size: 1.2rem;
    padding:10px 0px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;


    &::after {
      content: "";
      width: 50px;
      height: 4px;
      background-color: $color-blue;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__item{
    background-color: #fff;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    justify-content: space-between;
  }
  &__item-title{
    font-weight: 500;
    padding-bottom: 5px;

  }

  &__item-aside{
    font-weight: 300;
  }
}

.btn-wrapper{
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;

  button{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(0deg,$color-purple,$color-pink);
    cursor: pointer;
    box-shadow: 5px  5px 10px rgb(0 0 0 / 15%);
  }
}


 /************************************************************************************
** -------------------------------footer--------------------------------***
****************************************************************************************/

.footer{
    background-color: #353535;


    &__wrapper{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__title{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin: 10px 0px;
        font-size: 1.3rem;
    };

    &__links-item{
        margin: 10px 0px
    }

    &__links-item a, &__links-item i{
        color: white;
    }
    &__links-item a:hover{
        text-decoration: underline;
        
    }
    &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
      }


}
