@import'reset.scss';
@import'settings.scss';
@import'loading.scss';




  /************************************************************************************
** -------------------------------HEADER--------------------------------***
****************************************************************************************/


.header{
  padding: 1rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.300);
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  justify-content: center;


    &__title{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 2rem;
    }

    &__icon{
      margin: 10px;
      font-size: 1.3rem;
    }
}



/********************************************************************************************************************************
/********************************************************************************************************************************
/********************************************************************************************************************************
** -------------------------------HOME PAGE--------------------------------*******************************************************
 *********************************************************************************************************************************
 *********************************************************************************************************************************
*********************************************************************************************************************************/

/**************************************************************************************
** ------------------------------ NAV--------------------------------*******************
****************************************************************************************/

.nav {

    &__header{
        background-color: $color-light-grey;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;

    }
    &__header-title{
        font-weight: 800;
        font-size: 1.1rem;
        padding: 1.4rem 0;

    }

    &__content{
      padding: 2rem;
      text-align: center;
      background-color: #fafafa;
    }

    &__content-title{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }

    &__content-aside{
        font-weight: lighter;
        margin: 30px 30px 10px;
        text-align: center;
    }

    &__content-link{
      border: 0;
      padding: 0.75rem 1.5rem;
      font-weight: 600;
      font-size: 1.1rem;
      border-radius: 80px;
      color: #fff;
      background-image: linear-gradient(0deg,$color-purple,$color-pink);
      cursor: pointer;
      box-shadow: 5px  5px 8px rgb(0 0 0 / 25%);
    }
    
}

 /*************************************************************************************
** -------------------------------Working--------------------------------***************
****************************************************************************************/

.working{

  padding: 2rem 1rem;

  &__title{
    font-size: 1.5rem;
    font-weight: 500;
    @media screen and (min-width : $pc) {
      text-align: center;
      padding-bottom: 50px;
    }

    @media screen and (min-width : $tablet) {
      text-align: center;
      padding-bottom: 50px;
    }
  }

  &__list{
    counter-reset: workingList;

    @media screen and (min-width : $tablet) {
      display: flex;
      justify-content: space-around;

    }
  }

  &__list-item{
    padding: 25px;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: $color-grey;
    display: flex;
    counter-increment: workingList 1;

    @media screen and (min-width : $tablet) {
      justify-content: center;
      align-items: center;
      padding: 25px 5%;

    }

    &::before {
      content: counter(workingList) " ";
      background: $color-purple;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      left: -2.1rem;
    }



  }

  &__list-icon{
    margin-right: 1rem;
    color: #7e7e7e;
  }



}


 /************************************************************************************
** ------------------------------Restaurant--------------------------------***
****************************************************************************************/

.place{
  background-color: $color-grey;
  padding: 3rem 0rem;
  max-width: 1400px;
  margin: 0 auto;

 &__title{
    font-size: 1.5rem;
    font-weight: 500;
    @media screen and (min-width : $pc) {
      text-align: center;
    }
    @media screen and (min-width : $tablet) {
      text-align: center;
    }

  }


  &__container{
    margin: 2rem 0px;
    padding-bottom: 50px;



    @media screen and (min-width : $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

}
.item{
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);

  @media screen and (min-width : $tablet) {
    width: 40%;
    margin: 15px;
  }


  
  &__img{
    height: 200px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  &__tag{
    background-color: $color-blue;
    position: absolute;
    top : 15px;
    right: 10px;
    padding: 10px;
    color: #1a7155

  }
  
  &__content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  &__content-title{

    h3{
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.icon-container{
  &__like--valid{
    display: none;
  }
  &:hover &__like--empty{
    display: none;
  }
  &:hover &__like--valid{
      display: block;
      background: #f09433; 
      background: -moz-linear-gradient(0deg,$color-purple,$color-pink);; 
      background: -webkit-linear-gradient(0deg,$color-purple,$color-pink);; 
      background: linear-gradient(0deg,$color-purple,$color-pink);; 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF79DA', endColorstr='#9356DC',GradientType=1 );
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
    
  }



}





/********************************************************************************************************************************
/********************************************************************************************************************************
/********************************************************************************************************************************
** -------------------------------RESTAURANT PAGE--------------------------------**************************************************
 *********************************************************************************************************************************
 *********************************************************************************************************************************
*********************************************************************************************************************************/


.banner-image{
    max-width: 100%;
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.menu{
  top: -100px;
  border-radius: 25px  25px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;


  
}

.menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;


  &__title{
    font-family: Shrikhand,"cursive";
    font-size: 1.5rem;
    font-weight: bold;
    width: 40%;
    line-height: 1.4;

  }
}
.menu-content{
  padding: 15px;
  @media screen and (min-width : $pc) {

    display: flex;
    justify-content: space-around;
  }

  &__title{
    font-size: 1.2rem;
    padding:10px 0px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;


    &::after {
      content: "";
      width: 50px;
      height: 4px;
      background-color: $color-blue;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__item{
    background-color: #fff;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    margin: 15px 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    justify-content: space-between;
    overflow: hidden;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
  }
}

.menu-item{
  background-color: #fff;
  padding: 15px;
  display: flex;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  animation: pop-in .9s;


  @media screen and (min-width : $pc) {
    min-width: 350px;
    max-width: 350px;
  }


  &__header{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title{
    font-weight: 500;
    padding-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__aside{
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__validation{
    background-color: $color-blue;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.8s;
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
  }

  &__price{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5rem;
  }

  &__icon-wrapper{
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 50%;
  }

  &:hover &__validation {
    margin-right: -1rem;
  }

  &__icon {
    color: $color-blue;
  }

}



.btn-wrapper{
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;

  button{
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(0deg,$color-purple,$color-pink);
    cursor: pointer;
    box-shadow: 5px  5px 10px rgb(0 0 0 / 15%);
  }
}


 /************************************************************************************
** -------------------------------footer--------------------------------***
****************************************************************************************/

.footer{
    background-color: #353535;
    margin-top: -100px;
    padding-left: 15px;
 


    &__wrapper{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 1400px;
        margin: 0 auto;

    }

    &__title{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin: 10px 0px;
        font-size: 1.3rem;
    };

    &__links-item{
        margin: 10px 0px
    }

    &__links-item a, &__links-item i{
        color: white;
    }
    &__links-item a:hover{
        text-decoration: underline;
        
    }
    &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
      }


}


