@import'reset.scss';
@import'settings.scss';
@import'loading.scss';
@import'homepage.scss';
@import'menu.scss';




  /************************************************************************************
** -------------------------------HEADER--------------------------------***
****************************************************************************************/


.header{
  padding: 1rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.300);
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  justify-content: center;

    &__title{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 2rem;
    }

    &__icon{
      margin: 10px;
      font-size: 1.3rem;
    }
}
.header {
  &--arrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 10px;
    height: 10px;
    width: 10px;
    top: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
    padding-bottom: 18px;
  }
}



 /************************************************************************************
** -------------------------------footer--------------------------------***
****************************************************************************************/

.footer{
    background-color: #353535;
    margin-top: -100px;
    padding-left: 5px;

  @media screen and (min-width : $pc) {
    padding: 0;
  }

    &__wrapper{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 1400px;
        margin: 0 auto;
    }

    &__title{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin: 10px 0px;
        font-size: 1.3rem;
    };

    &__links-item{
        margin: 10px 0px
    }

    &__links-item a, &__links-item i{
        color: white;
    }

    &__links-item a:hover{
        text-decoration: underline; 
    }

    &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
      }
}


